<div class="container">
  <div class="row">
    <div class="col">
      <th>郵便番号（ハイフンなし）</th><br>
      <th>住所</th><br>
      <th>宛名</th>
    </div>
    <div class="col">
      <td><%= button_to "変更内容を保存" %></td>
    </div>
  </div>

</div>