<main class="top-margin">
  <div class="text-center">
    <h1>Ａｂｏｕｔ</h1>
    <br/>
    <h4>
      ながのＣＡＫＥは全国発送可能なケーキ屋さんです。<br/>
      お子様からお年寄りの方までお召し上がりいただけるよう、<br/>
      様々なバリエーションをご用意しております。<br/>
      また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br/>
      ぜひご注文ください。
    </h4>
    <br/>
    <p><%= image_tag "cake.jpg", size: "500x300" %></p>
  </div>
</main>