<div class="container">
  <div class=“row”>
    <div class="row"><h3>注文履歴一覧</h3></div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope=“col”>注文日</th>
            <th scope=“col”>配送先</th>
            <th scope=“col”>注文商品</th>
            <th scope=“col”>支払金額</th>
            <th scope=“col”>ステータス</th>
            <th scope=“col”>注文詳細</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope=“row”>2020/11/5</th>
            <td>〒1500041</td>
            <td>イチゴのショートケーキ</td>
            <td>2,000円</td>
            <td>入金確認</td>
            <td><%= button_to "表示する" %></td>
          </tr>
          <tr>
            <th scope=“row>2020/11/11</th>
            <td>〒1111111</td>
            <td>チョコケーキ</td>
            <td>1,500円</td>
            <td>発送済み</td>
            <td><%= button_to "表示する" %></td>
          </tr>
        </tbody>
      </table>
  </div>
</div>

<div class="container">
  <div class="row"><h3>注文情報確認</h3></div>
  <div class="row">
    <div class="col">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
          <tr>
            <td><%= image_tag "images.jpg", size: "200x160" %>チョコバナナミルフィーユ</td>
            <td>1,100</td>
            <td>1</td>
            <td>1,100</td>
          </tr>
        </thead>
      </table>
    </div>
    <div class="col">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th>送料</th>
            <td>800</td>
          </tr>
          <tr>
            <th>商品合計</th>
            <td>1,760</td>
          </tr>
          <tr>
            <th>請求金額</th>
            <td>2,560</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
      <table>
        <div>
          <tr>
            <th scope="col"><h4>支払方法</h4></th>
            <th "col">クレジットカード</th>
          </tr>
        </div>
      </table>
      <table>
        <div>
          <tr>
            <th scope="col"><h4>お届け先</h4></th>
            <th "col">〒150041東京都</th>
          </tr>
        </div>
      </table>
  </div>
</div>