<div class="container">
  <div class="row">
    <h2>ジャンル編集</h2>
  </div>
  <div class="row">
    <div class="col-lg-2"><h5>ジャンル名</h5></div>
    <div class="col-lg-2">ジャンル名入力ボックス</div>
    <div class="col-lg-2">変更を保存ボタン</div>
  </div>
</div>