<div class="container">
  <div class="row">
    <h2>ジャンル一覧・追加</h2>
  </div>
  <div class="row">
    <div class="col-lg-2">ジャンル名</div>
    <div class="col-lg-3">ジャンル名入力ボックス</div>
    <div class="col-lg-2">新規登録ボタン</div>
  </div>
  <div class="row">
    <div class="col-lg-5">
      <table class="table">
        <tr>
          <th>ジャンル</th>
          <th></th>
        </tr>
        <tr>
          <th>ケーキ</th>
          <th><%= link_to "編集する", about_path, class:"btn btn-success" %></th>
        </tr>
        <tr>
          <th>プリン</th>
          <th><%= link_to "編集する", about_path, class:"btn btn-success" %></th>
        </tr>
        <tr>
          <th>焼き菓子</th>
          <th><%= link_to "編集する", about_path, class:"btn btn-success" %></th>
        </tr>
        <tr>
          <th>キャンディ</th>
          <th><%= link_to "編集する", about_path, class:"btn btn-success" %></th>
        </tr>
      </table>
    </div>
  </div>
</div>