<div class="container">
  <div class="row">
    <h2>山田花子さんの会員詳細</h2>
  </div>
  <div class="row">
    <table class="table">
      <tr>
        <th>会員ID</th>
        <th>1</th>
      </tr>
      <tr>
        <th>氏名</th>
        <th>山田　花子</th>
      </tr>
      <tr>
        <th>フリガナ</th>
        <th>ヤマダハナコ</th>
      </tr>
      <tr>
        <th>郵便番号</th>
        <th>1500041</th>
      </tr>
      <tr>
        <th>住所</th>
        <th>東京都渋谷区神南1丁目19-11　パークウェースクエア24階</th>
      </tr>
      <tr>
        <th>電話番号</th>
        <th>0368694700</th>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <th>hogeexample.com</th>
      </tr>
      <tr>
        <th>会員ステータス</th>
        <th>有効</th>
      </tr>
      <tr>
        <th></th>
        <th>
          <%= link_to "編集する", about_path, class:"btn btn-success btn-margin" %>
          <%= link_to "注文履歴一覧を見る", admins_orders_path, class:"btn btn-primary btn-margin" %>
        </th>
      </tr>
    </table>
  </div>
</div>