<div class="container">
  <div class="row">
    <h2>商品新規登録</h2>
  </div>
  <div class="row">
    <div class="col-lg-7, mx-auto">
      <table>
        <tr>
          <th>商品画像</th>
          <th>画像選択フォーム</th>
        </tr>
        <tr>
          <th>商品名</th>
          <th>商品名フォーム</th>
        </tr>
        <tr>
          <th>商品説明</th>
          <th>商品説明フォーム</th>
        </tr>
        <tr>
          <th>ジャンル</th>
          <th>ジャンル選択フォーム</th>
        </tr>
        <tr>
          <th>税抜き</th>
          <th>価格入力フォーム</th>
        </tr>
        <tr>
          <th>販売ステータス</th>
          <th>販売ステータス選択フォーム</th>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2, mx-auto">
      <%= link_to "新規登録", about_path, class:"btn btn-success" %>
    </div>
  </div>
</div>