<div class="container">
  <div class="row">
    <div class="col">
      <p><%= image_tag "images.jpg", size: "400x320" %></p>
    </div>
    <div class="col">
      <h2>チョコレートケーキ</h2>
      <p>美味しいです。</p>
      <th></th>
      <p><span style="font-size:2em;">¥ 2,000</span>(税込)</p>
      <th></th>
    </div>
  </div>
</div>